<form class="send-message">
  <div class="container send-message-form">
    <label for="name">Your username: </label>
    <input type="text" name="username" value="Anonymous">
    <label for="message" class="message-label">Say something: </label>
    <textarea
      autofocus="autofocus"
      class="message-textarea"
      name="message"
      data-component="send-message"></textarea>
  </div>
</form>
