<% if attachment.image_url %>
  <p class="message-attachment">
    <%= image_tag attachment.image_url, width: 100 %>
  </p>
<% else %>
  <p class="message-attachment">
    <b>Title:</b> <%= attachment.title %> <br>
    <% if attachment.description %>
      <b>Description:</b> <%= attachment.description %> <br>
    <% end %>
    <b>URL:</b> <%= link_to attachment.title_url, attachment.title_url, target: :blank %>
  </p>
<% end %>
