default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: simple-messenger_development

test:
  <<: *default
  database: simple-messenger_test

production:
  <<: *default
  database: simple-messenger_production
  username: simple-messenger
  password: <%= ENV['SIMPLE-MESSENGER_DATABASE_PASSWORD'] %>
